@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #060020;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #060020;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Noto Sans Thai", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::selection {
  background-color: #5a0196; /* เปลี่ยนสีพื้นหลังเป็นสีเหลือง */
  color: #ffffff; /* เปลี่ยนสีข้อความเป็นสีดำ */
}